<% provide(:title, @product.name)%>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/light_section', object: @product %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <%= render 'imageflow', product: @product %>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <% if @product.taxons.any? %>
                    <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                    <% end %>
                  <% else %>
                    <%= link_to potepan_category_path(Spree::Taxons.first.id) do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <h2><%= @product.name%></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description%></p>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <option value="0">S</option>
                  <option value="1">M</option>
                  <option value="2">L</option>
                  <option value="3">XL</option>
                </select>
              </span>
              <span class="quick-drop resizeWidth">
                <select name="guiest_id4" id="guiest_id4" class="select-drop">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </span>
              <div class="btn-area">
                <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <% @product.related_products.each do |product| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="productBox">
              <div class="productImage clearfix">
                <%= link_to image_tag(product.display_image.attachment(:product)), potepan_product_path(product.id) %>
              </div>
              <div class="productCaption clearfix">
                <%= link_to potepan_product_path(product.id) do %>
                  <h5><%= product.name %></h5>
                  <h3><%= product.display_price %></h3>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>